.big-title {
  font-size: 150px;
}
.articles-boite {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto;
  width: 90%;
  .article-boite.non-visible {
    opacity: 50%;
  }
  .article-boite {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 600px;
    overflow: hidden;
    padding: 20px;
    border: solid 1px gray;
    border-radius: 20px;
    margin: 20px auto 40px;
    .title {
      margin: 0;
    }
    .article-photo {
      max-height: 400px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .modal-body {
      .article-photo {
        max-height: 600px;
      }
    }
    .description-of-this-blob {
      display: flex;
      flex-wrap: wrap;
      .material, .article_text {
        width: 100%;
        margin: 0;
      }
      .material {
        font-style: italic;
        font-size: 14px;
        margin: 15px 0;
      }
      .article-text {
        font-size: 12px;
        overflow:hidden;
      }
    }
  }
}
.legende {
  font-size: 10px;
}
.link-to-share {
  width: max-content;
  font-size: 14px;
  color: black;
  &:hover {
    color: black;
    text-decoration: none;
  }
}
.modal-btn {
  border: none;
  background: #00ff94;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 15px;
}
.modal-btn.photo-btn {
  background: transparent;
  padding: 0;
  border-radius: 0;
}

#new_article {
  width: 400px;
  margin: 10px auto;
  border: solid 1px gray;
  padding: 20px;
  border-radius: 20px;
}
