@keyframes two-cards-move {
  0% { top: 0; left: 0;}
  30% { top: 10px; left: 20px; transform: rotate(2deg); }
  68%, 72% { top: 5px; left: 15px; transform: rotate(10deg); }
  100% { top: 0; left: 10px; transform: rotate(5deg);  }
}
@keyframes z-index-doublecard {
  0% { z-index: 2;}
  100% { z-index: 2;}
}

.big-title {
  font-size: 150px;
}
.articles-prez.spread {
  .article-boite.pas-boutique-b {
    transition: all ease-in 0.3s;
    left: 100px;
    background: white;
    transform: rotate(15deg);
    z-index: 2;
  }
}
.articles-prez {
  // position: relative;
  .article-boite.boutique-b {
    position: absolute;
    transform: rotate(-6deg);
    top: 5px;
    background: white;
    z-index: 1;
  }
  .article-boite.pas-boutique-b {
    transition: all ease-in 0.3s;
    background: white;
    top: 0;
    left: 0;
    position: absolute;
    box-shadow: 2px 3px 5px gray;
  }
}
.articles-boite {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
  position: relative;
  .cartes-deck {
    width: 340px;
    height: 600px;
    // z-index: 1;
    margin-bottom: 60px;
    position: relative;
    display:flex;
    transition: all ease 0.3s;
    .top-of-deck {
      position: absolute;
      z-index: 1;
      background: white;
    }
    .this-categorie-cards {
      position: relative;
      top: 0;
      opacity: 1;
      position: relative;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      z-index: 0;
      .this-categorie-card {
        position: absolute;
        background: white;
      }
    }
  }
  .cartes-deck.card-spread {
    width: 100%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
        // transition: all ease-in 0.3s;
    .top-of-deck {
      display: none;
    }
    .this-categorie-cards {
      z-index: 5;
        // transition: all ease-in 0.3s;
      .this-categorie-card {
        // transition: all ease-in 0.3s;
        position: relative;
        margin: 20px;
        box-shadow: 2px 3px 5px gray;
      }
    }
  }




  .article-boite.non-visible {
    opacity: 50%;
  }
  .article-boite {
    display: flex;
    flex-direction: column;
    width: 340px;
    height: 600px;
    overflow: hidden;
    padding: 30px;
    border: solid 1px gray;
    border-radius: 20px;
    margin: 20px auto 40px;
    .title {
      margin: 0 0 15px 0;
    }
    .article-photo {
      max-height: 400px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 15px;
    }
    .modal-body {
      .article-photo {
        max-height: 600px;
      }
    }
    .description-of-this-blob {
      display: flex;
      flex-wrap: wrap;
      .material, .article_text {
        width: 100%;
        margin: 0;
      }
      .material {
        font-style: italic;
        font-size: 14px;
      }
      .article-text {
        font-size: 12px;
        overflow:hidden;
      }
    }
  }
}
.legende {
  font-size: 10px;
}
.link-to-share {
  width: max-content;
  font-size: 14px;
  color: black;
  &:hover {
    color: black;
    text-decoration: none;
  }
}
.modal-btn {
  border: none;
  background: #00ff94;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 15px;
}
.modal-btn.photo-btn {
  background: transparent;
  padding: 0;
  border-radius: 0;
}

#new_article, .simple_form.edit_article {
  width: 400px;
  margin: 10px auto;
  border: solid 1px gray;
  padding: 20px;
  border-radius: 20px;
}
