<div class="blob-nav-white vert-blob-bg">
  <div class="top-of-nav">
    <div class="left-side-nav">
      <%= link_to root_path(anchor: 'top-of-the-blob'), data: {turbolinks: 'false'} do  %>
        <div class="boutique-b-title supermarket">Boutique B</div>
<!--         <div class="blob-logo">
            <h1 class="blob-logo-text">Atelier Blob</h1>
        </div> -->
      <% end %>
    </div>
    <div class="right-side-nav">
      <h2 class="what-is-blob supermarket">
        un projet de Atelier Blob avec
      </h2>
      <div class="all-names">
        <h2 class="say-our-names yatis">clara flores</h2>
        <h2 class="say-our-names yatis">chloe tournoux</h2>
        <h2 class="say-our-names yatis">paul lahana</h2>
      </div>
    </div>
  </div>

  <% if user_signed_in? %>
    <div class="blob-admin">
      <%= link_to "j'ajoute un blob", new_article_path %>
      <%= link_to "je me déco", destroy_user_session_path, method: :delete %>
    </div>
  <% end %>
</div>
